* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(175, 197, 197);
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    padding: 40px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Estilos tarjetas */

.tarjeta {
    width: 100%;
    max-width: 550px;
    position: relative;
    color: #ffff;
    transition: 1s ease all;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    cursor: pointer;
    z-index: 2;
}

.tarjeta.active {
    transform: rotateY(180deg);
}

.tarjeta > div {
    padding: 30px;
    border-radius: 15px;
    min-height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);
}
/* Tarjeta delantera */
.bank-name{
    height: 14px;
    position: relative;
    left: 400px;
}

.tarjeta .tarjeta-delantera {
    width: 100%;
    background: url(../img/bg-tarjeta/delantera.jpg);
    background-size: cover;
}

.tarjeta-delantera .logo-marca {
    text-align: right;
    min-height: 50px;
}

.tarjeta-delantera .logo-marca img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 80px;
}

.tarjeta-delantera .chip {
    width: 100%;
    max-width: 50px;
    margin-bottom: 20px;
}
.card-number {
    display: flex;
    width: 80%;
    position: relative;
    left: 50px;
    justify-content: space-between;

}
.card-number .numero{
    height: 70px;
    font-size: 44px;
}

.tarjeta-delantera .grupo .label {
    font-size: 12px;
    color: #969798;
    margin-bottom: 5px;
}

/* .tarjeta-delantera .grupo .numero, */
.tarjeta-delantera .grupo .nombre,
.tarjeta-delantera .grupo .expiracion {
    color: #ffff;
    /* font-size: 18px; */
    text-transform: uppercase;
    display: relative;
}

.texto-normal{
    font-size: 18px;
}
.texto-pequeño{
    font-size: 14px;
}

.tarjeta-delantera .grupo .nombre {
    max-width: 200px;
}

.tarjeta-delantera .flexbox {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Tarjeta trasera */

.tarjeta-trasera {
    width: 100%;
    background: url(../img/bg-tarjeta/trasera.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.tarjeta-trasera .barra-magnetica {
    height: 40px;
    background: rgb(15, 14, 14);
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
}

.tarjeta-trasera .datos {
    margin-top: 60px;
    display: flex;
}
.tarjeta-trasera .datos {
    margin-bottom: 5px;
}
.tarjeta-trasera .datos #firma {
    width: 70%;    
}
.firma {
    height: 40px;
    background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);    
}
.tarjeta-trasera .datos #cvv {
    width: 20%;    
}
.tarjeta-trasera .datos #cvv .cvv {
    height: 40px;
    background: #fff;
    color: black;
    padding: 10px;
    text-align: center;
}
a {
    color:#7d8994;
    cursor: pointer;
}

/* Boton */

.contenedor-btn .btn-abrir-formulario {
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 20px;
    background: rgb(102, 98, 220);
    color: #fff;
    position: relative;
    top: -25px;   
    z-index: 3; 
    border-radius: 100%;
    box-shadow: 5px 4px 8px rgba(64, 98, 236, 0.4);
    padding: 5px;
    transition: all 0.2s ease;
    border: none;
    cursor: pointer;
}
.contenedor-btn .btn-abrir-formulario:hover{
    background: #3562af;
}
.contenedor-btn .btn-abrir-formulario.active{
    transform: rotate(45deg);
}

/* Formulario de Tarjeta */
.formulario-tarjeta{
    background: #fff;
    width: 100%;
    max-width: 700px;
    border-radius: 28px;
    position: relative;
    top: -150px;
    z-index: 1;
    padding: 150px 30px 30px 30px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 0.3s ease-out;
}

.formulario-tarjeta.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.formulario-tarjeta label {
    display: inline-block;
    margin-left: 22px;
    color: #7d8994;
    margin-bottom: 5px;
    font-size: 16px;
}

.formulario-tarjeta input,
.formulario-tarjeta select,
.btn-send {
    border: 2px solid #ced6E0;
    font-size: 18px;
    height: 50px;
    width: 95%;
    padding: 5px 12px;
    transition: .3s ease all;
    border-radius: 12px;
}
.formulario-tarjeta input:hover,
.formulario-tarjeta select:hover {
    border: 2px solid #92bfed;

}
.formulario-tarjeta input:focus,
.formulario-tarjeta select:focus {
    outline: rgb(4,4,4);
    box-shadow: 1px 7px 10px -5px rgba(90,116,148,0.3);    
}
.formulario-tarjeta input {
    margin: 20px;
    text-transform: uppercase;
}
.formulario-tarjeta .grupo-select {
    margin: 20px;
}
.formulario-tarjeta .flexbox{
    display: flex;
    justify-content: space-between;
    margin-right: 22px;
}

.btn-send {
    background-color: rgb(235, 53, 53);
    color: #fff;
    border-radius: 24px;
    cursor: pointer;  
    margin-left: 20px;  
}
.formulario-tarjeta .expira {
    width: 50%;
}
.formulario-tarjeta .cvv {
    width: 30%;
}

.formulario-tarjeta .grupo-select{
    width: 100%;
    margin-right: 4px;
}


.tabla {
    border: 1px solid rgb(0, 0, 0);
    text-transform: uppercase;

}

.tabla-de-datos{
    width: 100%;
    position: relative;
    background: #e0e0e1;
    max-width: 620px;
    margin: auto;
}

@media (max-width: 650px) {
    section{
        width: 400px;

    }
    .card-number .numero{
        font-size: 16px;
    }
    .tarjeta-delantera .grupo .label {
        font-size: 8px;
        color: #969798;
    }
    
    .tarjeta-delantera .grupo .texto-normal{
        font-size: 10px;
    }
    .tarjeta-delantera .grupo .texto-pequeño{
        font-size: 6px;
    }

    .tarjeta-delantera .grupo .expiracion {
        font-size: 8px;
        
    }
    .bank-name{
        left: 150px;
    }
    .grupo .flexbox {
        display: block ;
    }
    #inputCvv{
        margin-top: 37px;
    }
    .btn-send {
        font-size: 12px;        
    }
    .formulario-tarjeta input,
    .formulario-tarjeta select,
    .btn-send {
        font-size: 10px;        
    }
    .texto-normal{
        font-size: 12px;
    }
    .texto-pequeño{
        font-size: 8px;
    }
    .tabla{
        font-size: 10px;
    }
    
}